{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}
 
{% block toolbar %}
    {% set icon %}
        
        {% if collector.nbrlogserrors        > 0 %} <img height="28" alt="Wonder Cache" src="data:image/png;base64,{{ collector.iconbase64('errors') }}" />
        {% elseif  collector.nbrlogswarnings > 0 %} <img height="28" alt="Wonder Cache" src="data:image/png;base64,{{ collector.iconbase64('warnings') }}" />
        {% elseif     collector.nbrlogsinfos > 0 %} <img height="28" alt="Wonder Cache" src="data:image/png;base64,{{ collector.iconbase64('infos') }}" />
        {% endif %}

        <span class="sf-toolbar-info-piece-additional-detail">Wonder cache</span>

    {% endset %}

    {% set text %}
        {% if collector.nbrlogsinfos > 0 %}
            <div class="sf-toolbar-info-piece">
                <b>Info</b>
                <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.nbrlogsinfos }}</span>
            </div>
        {% endif %}
        {% if collector.nbrlogswarnings > 0 %}
            <div class="sf-toolbar-info-piece">
                <b>Warning</b>
                <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.nbrlogswarnings }}</span>
            </div>
        {% endif %}
        {% if collector.nbrlogserrors > 0 %}
            <div class="sf-toolbar-info-piece">
                <b>Error</b>
                <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.nbrlogserrors }}</span>
            </div>
        {% endif %}
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}

{% endblock %}
 
 
{% block menu %}

<span class="label">
    <span class="icon">
      <img alt="Wonder Cache" src="data:image/png;base64,{{ collector.iconbase64('') }}" />
    </span>
    <strong>Wonder cache</strong>
    {% set nblogs = 0 %}
    {% if collector.nbrlogsinfos > 0 %}
        {% set nblogs = nblogs + 1 %}
    {% endif %}
    {% if collector.nbrlogswarnings > 0 %}
        {% set nblogs = nblogs + 1 %}
    {% endif %}
    {% if collector.nbrlogserrors > 0 %}
        {% set nblogs  = nblogs + 1 %}
    {% endif %}
    {% if nblogs %}
        <span class="count">
            <span>{{ nblogs }}</span>
        </span>
    {% endif %}
</span>

{% endblock %}
 
{% block panel %}
    <h2><img alt="Wonder Cache" src="data:image/png;base64,{{ collector.iconbase64('') }}" /> Wonder cache for <em>{{ collector.uri }}</em></h2>
    {% if collector.nbrlogs %}
        {% if collector.nbrlogsinfos %}
            <ul class="alt">
                {% for i, info in collector.logsinfos %}
                    <h3>{{ info.log }}</h3>
                    <li class="{{ i is even ? 'odd' : 'even' }}">
                        {% if info.entities|length %}
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Entities linked</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th scope="col">Entity</th>
                                        <th scope="col">Ids</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity, ids in info.entities %}
                                        <tr>
                                            <th>{{ entity }}  </th>
                                            <td>
                                                {% if ids|length %}
                                                    [{{ ids|join(',') }}]
                                                {% else %}
                                                    all
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if collector.nbrlogswarnings %}
            <h2>Warning</h2>
            <ul class="alt">
                {% for i, log in collector.logswarnings %}
                    {% if log is iterable %}
                        <li class="{{ i is odd ? 'odd' : 'even' }}">
                            {% for line in log %}
                                <div>
                                    {{ line }}<br />
                                </div>
                            {% endfor %}
                        </li>
                    {% else %}
                        <li class="{{ i is odd ? 'odd' : 'even' }}">
                            <div>
                                {{ log }}<br />
                             </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if collector.nbrlogserrors %}
            <h2>Error</h2>
            <ul class="alt">
                {% for i, log in collector.logserrors %}
                    {% if log is iterable %}
                        <li class="{{ i is odd ? 'odd' : 'even' }}">
                            {% for line in log %}
                                <div>
                                    {{ line }}<br />
                                </div>
                            {% endfor %}
                        </li>
                    {% else %}
                        <li class="{{ i is odd ? 'odd' : 'even' }}">
                            <div>
                                {{ log }}<br />
                             </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

{% endblock %}
